/*!
 * HTML5/JS web player Differently imported
 * https://chrome.google.com/webstore/detail/differently-imported-for/bnihjdccalbcoienhgcjjlilfdhacdkf?hl=en&gl=GB
 *
 * phil / @ / pbarton / .co / .uk
 * Copyright 2014, Phil Barton
 * 
    This library is free software; you can redistribute it and/or
    modify it under the terms of the GNU Lesser General Public
    License as published by the Free Software Foundation; either
    version 2.1 of the License, or (at your option) any later version.

    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Lesser General Public License for more details.

 *
 * Includes Loads of things
 * di.js
 * di.css
 * fullpage.html
 * fullpage.css
 * fullpage.js
 * player.js
 * popup.html
 * licence.txt
 *
 *
 * Date: 13th September 2014. 07.00 BST
*/
html{
background-color:#212737;
}
body {
	background-color:#212737;
    color:#e6e6e6;
    font-size:20px;
    font-family:verdana;
    width:400px;
	height:400px;
	}

#container{
width:400px;
position:absolute;
}
#left{
width:220px;
float:left;
position:relative;
height:350px;
}
#right{
width:180px;
float:left;
position:relative;
height:350px;

}
#track{
border-top: 1px groove #ccc;
margin-left:8px;
position:relative;
float:left;
height:50px;
width:350px;
background-color:#212737;
font-family:"Lucida Console", Monaco, monospace;
font-size:13px;
padding-top:10px;
}
.selected{
background-color:white;

}
.setWide{
width:176px;
}
#volBord {
	float:left;
	margin-left:10px;
	margin-top:7px;
    width:124px;
    height:18px;
    padding:3px
}

#volume {
    position:relative;
    float:left;
    cursor:pointer;
    width:0;
    height:0;
    border-style:solid;
    border-width:9px 100px 9px 0;
    border-color:transparent #ccc transparent transparent
}

#vKnob {
    position:relative;
    left:92px;
    margin-top:-9px;
    height:20px;
    width:5px;
    background-color:#fff
}
.settings_holder{
width:180px;
height:10px;
}
.settings {
float:right;
height:20px;
cursor:pointer;
background-color:#30374D;
position:absolute;
right:10px;
z-index:100;
margin-top:20px;
}
.full_screen{
right :0px;
margin-top:5px;
height:28px;
background-color:#363B4C;
cursor:pointer;
position:absolute;
z-index:100;
display:inline-block;
width:20px;
padding-top:2px;
padding-left:10px;
padding-right:3px;

}
.full_screen a{
color:white;
text-decoration:none;
}
.sm_but{
float:left;
height:20px;
width:20px;
margin-top:5px;
cursor:pointer;
}
#plBut{
margin-left:-2px;
}
#stBut{
margin-left:14px;

}

#canvas_box{
top:238px;
position:fixed;
left:15px;
}
#imageContainer{


}
.select::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.select::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.select::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #212737; 
    -webkit-box-shadow: inset 0 0 6px #cccccc; 
}
.select::-webkit-scrollbar-thumb:window-inactive {

}

.select :focus {
    outline: none;
}

.select li{
padding-left:10px;
padding-top:2px;
padding-bottom:2px;
margin-top:5px;
list-style-type:none;
font-family:Tahoma, Geneva, sans-serif;
cursor:pointer;
}
.select li:hover{
color:white;
background-color:black;
}

.select{

	height:290px;
	background: #212737;
	color:grey;
	overflow-x:hidden;
	overflow-y:scroll;
	width:180px;
	padding-bottom:10px;
}
#scroll_box_box{	
	margin-top:5px;
	height:295px;}
#down_pad{

width: 0px;
height: 0px;
border-style: solid;
border-width: 20px 90px 0 90px;
border-color: #30374D transparent transparent transparent;
}
#up_pad{
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 90px 20px 90px;
border-color: transparent transparent #30374D transparent;
}
#select_box_box{
	height:350px;
	width:180px;
}

#popup_nowplay{
position:fixed;
top:58px;
left:23px;
display:none;
z-index:1000;
background-color:#30374D;
font-size:14px;
padding:5px;
width:163px;
height:164px;
overflow:hidden;
border:1px solid white;
}

#fsclose{
position:relative;
float:right;
margin-right:-15px;
margin-top:-5px;
padding:3px;
background-color:#212737;
}
.floatysettings{
padding:10px;
position:absolute;
left:-300px;
top:75px;
height:220px;
width:200px;
z-index:100000!important;
background-color:#30374D;
border-radius:3px;
border:1px solid #CCCCCC;
/*font-family:"Lucida Console", Monaco, monospace;*/
color:white;
font-size:12px;
}
.floatysettings a{
color:white;
font-weight:bold;
}
.floatysettings input,select{
margin:5px;
}
#saveS{
padding:3px;
margin-top:15px;
cursor:pointer;
background-color:#212737;
font-family:Arial;
}


.mouselight:hover{
transition: all 0.4s ease-out-in;
  opacity:0.6;

}